.btn {
  display: inline-block;
  background: black;
  color: white;
  padding: 7px 20px;
  margin-bottom: 15px;
  margin-left: 15px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: none;
}

.btn:hover {
  color: black;
  text-decoration: none;
}

.text {
  margin-bottom: 10px;
}

.error {
  margin: 30px;
  color: red;
}
